[Desktop Entry]
Name=xgnitive yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=/home/teo/repos/xgnitive/doc/fig/xgnitive-64x64.png
Path=/home/teo/repos/xgnitive/share
